<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
<style type="text/css">
</style>
</head>
<body>
	<!-- Footer -->
	<section id="footer" class="wrapper">
		<div class="container">
				<!-- Contact -->
				<div class="row aln-center">
					<div class="col-3 col-6-medium col-12-small">
						<section class="feature-list small">
							<h3 class="#">컨텐츠 Top 10</h3>
							<ul class="style4">
								<li th:each="vo:${blist}"><a th:href="@{/biz/detail(b_id=${vo.b_id})}"><span>- [[${vo.b_title}]]</span></a>
								</li>
							</ul>
						</section>
					</div>
					<div class="col-3 col-6-medium col-12-small">
						<section class="feature-list small">
							<h3 class="#">신발 Top 10</h3>
							<ul class="style4">
							 <li th:each="vo:${slist}"><a th:href="@{/shoes/detail(goods_id=${vo.goods_id})}"><span>- [[${vo.name_kor}]]</span></a>
							 </li>
							</ul>
						</section>
					</div>
					<div class="col-3 col-6-medium col-12-small">
						<section class="feature-list small">
							<h3 class="#">음악 Top 10</h3>
							<ul class="style4">
							  <li th:each="vo:${mlist}"><a th:href="@{/music/detail(no=${vo.no})}"><span>- [[${vo.title}]]</span></a>
							  </li>
							</ul>
						</section>
					</div>
			</div>
		</div>
	</section>
</body>
</html>