<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
<style type="text/css">
</style>
</head>
<body>
<!-- Footer -->
				<section id="footer" class="wrapper">
					<div class="container">
						<div class="row">
								<!-- Contact -->
										<div class="row">
											<div class="col-3 col-6-medium col-12-small">
												<section class="feature-list small">
													<h3 class="icon solid fa-comment">컨텐츠 Top 10</h3>
													<ul class="style4">
													<li th:each="vo:${blist}">
														<a href="#">[[${vo.b_title}]]</a>
													</li>
													</ul>
												</section>
											</div>
											<div class="col-3 col-6-medium col-12-small">
												<section class="feature-list small">
													<h3 class="icon solid fa-envelope">실시간 뉴스</h3>
													<p>
														<a href="#">info@untitled.tld</a>
													</p>
												</section>
											</div>
											<div class="col-3 col-6-medium col-12-small">
												<section class="feature-list small">
													<h3 class="icon solid fa-envelope">실시간 뉴스</h3>
													<p>
														<a href="#">info@untitled.tld</a>
													</p>
												</section>
											</div>
											<div class="col-3 col-6-medium col-12-small">
												<section class="feature-list small">
													<h3 class="icon solid fa-envelope">실시간 뉴스</h3>
													<p>
														<a href="#">info@untitled.tld</a>
													</p>
												</section>
											</div>
										</div>
							</div>
						</div>
				</section>
</body>
</html>